<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <ul>
          <li>
            <a href="/tutorial">
              <button type="button" id="selectmenu1" class="selectmenu1 " >วิธีการใช้งาน</button>
            </a>
          </li>
          <li>
            <a href="#home">
              <button type="button" id="selectmenu2" class="selectmenu2 active" onclick="activeButton(this,id)">หน้าหลัก</button>
            </a>
          </li>
          <li>
            <a href="#about"
              ><button type="button" id="selectmenu3" class="selectmenu3" onclick="activeButton(this,id)">
                เกี่ยวกับเรา
              </button></a
            >
          </li>
          <li>
            <a href="/profile"
              ><button type="button" id="selectmenu4" class="selectmenu4">
                โปรไฟล์ของฉัน
              </button></a
            >
          </li>
          <li>
            <a href="#contact"
              ><button type="button" id="selectmenu5" class="selectmenu5" onclick="activeButton(this,id)">ติดต่อเรา</button></a
            >
          </li>
          <div class="pic-menu"></div>
          <li>
            <a href="/logout"
              ><button type="button" class="selectmenu6">ออกจากระบบ</button></a
            >
          </li>
        </ul>
      </div>
      <div class="box">
        <section class="home-section" id="home">
          <div class="circle-pic">
            <div class="circle">
              <a>กดปุ่มด้านล่าง</a>
              <a>เพื่อเริ่มออกกำลังกาย</a>
              <a href="select">
                <button type="button" class="btn">
                  <div class="inside-circle">
                    <div class="triangle"></div>
                  </div>
                  <a>เริ่ม</a>
                </button></a
              >
            </div>
          </div>
        </section>
        <section class="about-section" id="about">
          <div class="about-content-pic">
            <div class="about-content">
              <div id="slider">
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">
                <input type="radio" name="slider" id="slide5">
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                  <div class="about-head"><a>เกี่ยวกับเว็บของเรา</a></div>
                                  <div class="about-body">
                                    <a><br>วัยผู้สูงอายุ เป็นวัยที่ระบบต่างๆเสื่อมสภาพทำให้ไม่สามารถเคลื่อนไหวหรือออกกำลังกายได้
                                    เหมือนกับวัยอื่นๆแต่ในขณะเดียวกันผู้สูงอายุก็ควรที่จะทำกายบริหารหรือออกกำลังอย่างสม่ำเสมอเพื่อช่วยให้
                                    การทำงานของอวัยวะต่างๆนั้นประสานงานกันได้ดีสุขภาพร่างกายแข็งแรง และลดความเสี่ยงต่อการเกิดโรค
                                    ต่างๆ จากข้อมูลของสำนักอนามัยผู้สูงอายุแห่งประเทศไทยระบุว่าในปีพ.ศ. 2564 ประเทศไทยได้เข้าสู่
                                    " สังคมสูงอายุอย่างสมบูรณ์" โดยมีผู้สูงอายุมากกว่า ร้อยละ 20 ของประชากรมวลรวม
                                    </a>
                                    <a><br>ผู้จัดทำเล็งเห็นถึงความสำคัญในการทำกายบริหารของผู้สูงอายุที่กำลังเพิ่มมากขึ้นในประเทศไทย
                                    ที่จำเป็นจะต้องมีความถูกต้องและเหมาะสม ซึ่งโดยทั่วไปนั้นอาจจะต้องพึ่งพาผู้เชี่ยวชาญในการช่วยดูแล ดังนั้น
                                    จึงได้จัดทำเว็บแอพพลิเคชั่นพร้อมระบบอัจฉริยะที่สามารถช่วยให้ผู้สูงอายุสามารถทำกายบริหารได้อย่าง
                                    ถูกต้องด้วยตนเองโดยไม่จำเป็นต้องอาศัยผู้เชี่ยวชาญช่วยดูแล
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                  <div class="about-head"><a>ที่กายบริหาร</a></div>
                                  <div class="about-body-position">
                                    <div class="about-body-left">
                                      <div class="about-body-content"><a>ท่าที่1</a></div>
                                      <div class="about-body-pic"><a>เท้าเอวยกขา</a></div>
                                    </div>
                                    <div class="about-body-right">
                                      <div class="about-body-right-pic1"></div>
                                      <div class="about-body-right-pic2"></div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="slide slide_3">
                              <div class="slide-content">
                                <div class="about-head"><a>ที่กายบริหาร</a></div>
                                <div class="about-body-position">
                                  <div class="about-body-left">
                                    <div class="about-body-content"><a>ท่าที่2</a></div>
                                    <div class="about-body-pic"><a>ย่อเขา
                                    </a></div>
                                  </div>
                                  <div class="about-body-right">
                                    <div class="about-body-right-pic3"></div>
                                    <div class="about-body-right-pic4"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="slide slide_4">
                              <div class="slide-content">
                                <div class="about-head"><a>ที่กายบริหาร</a></div>
                                <div class="about-body-position">
                                  <div class="about-body-left">
                                    <div class="about-body-content"><a>ท่าที่3</a></div>
                                    <div class="about-body-pic"><a>กำมือชกและก้าวขา</a></div>
                                  </div>
                                  <div class="about-body-right">
                                    <div class="about-body-right-pic5"></div>
                                    <div class="about-body-right-pic6"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="slide slide_5">
                              <div class="slide-content">
                                <div class="about-head"><a>ที่กายบริหาร</a></div>
                                <div class="about-body-position">
                                  <div class="about-body-left">
                                    <div class="about-body-content"><a>ท่าที่4</a></div>
                                    <div class="about-body-pic"><a>กำหมัดชูแขน</a></div>
                                  </div>
                                  <div class="about-body-right">
                                    <div class="about-body-right-pic7"></div>
                                    <div class="about-body-right-pic8"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div id="controls" class="scroll">
                      <label for="slide1"></label>
                      <label for="slide2"></label>
                      <label for="slide3"></label>
                      <label for="slide4"></label>
                      <label for="slide5"></label>
                  </div>
                  <div id="bullets">
                      <label for="slide1"></label>
                      <label for="slide2"></label>
                      <label for="slide3"></label>
                      <label for="slide4"></label>
                      <label for="slide5"></label>
                  </div>
              </div>
            </div>
          </div>
        </section>
        <section class="contact-section" id="contact">
          <div class="contact-content">
            <div class="contact-head"><a>ผู้พัฒนาระบบ</a></div>
            <div class="contact-body">
              <div class="contact-block">
                <div class="contact-pic">
                </div>
                <a>นายพีรวัส วงศ์เมฆ</a>
                <a>รหัสนิสิต 6320501596</a>
              </div>
              <div class="contact-block">
                <div class="contact-pic">
                </div>
                <a>นายเฉลิมชัย กำลังเดช</a>
                <a>รหัสนิสิต 6320502363</a>
              </div>
              <div class="contact-block">
                <div class="contact-pic">
                </div>
                <a>นายชนิสร เอื้อสมศักด์สกุล</a>
                <a>รหัสนิสิต 6320502380</a>
              </div>
              <div class="contact-block">
                <div class="contact-pic">
                </div>
                <a>นางสาวศศิชา สลับแก้ว</a>
                <a>รหัสนิสิต 6320502509</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.css') }}"></script>
    <script>
      var beforeElement = "selectmenu2";
      function activeButton(element,id){
        document.getElementById(beforeElement).className=beforeElement;
        element.className += " active";
        beforeElement = id;
      }
    </script>
  </body>
</html>
