<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="video"></div>
      <div class="fill">
        <div class="login-box-pic">
          <form action="register" method="post" class="box">
            <a class="header-text">สร้างบัญชีผู้ใช้</a>
            {% if mesage is defined and mesage %}
            <div class="alert alert-warning">{{ mesage }}</div>
            {% endif %}
            <div class="username">
              <a class="input-text">ชื่อ</a>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="username">
              <a class="input-text">นามสกุล</a>
              <input
                type="text"
                id="surname"
                name="surname"
                required="required"
              />
            </div>
            <div class="username">
              <a class="input-text">อายุ</a>
              <input type="text" id="age" name="age" required />
            </div>
            <div class="username">
              <a class="input-text">ส่วนสูง</a>
              <input type="text" id="height" name="height" required />
            </div>
            <div class="username">
              <a class="input-text">อีเมลผู้ใช้</a>
              <input type="text" id="email" name="email" required />
            </div>
            <div class="username">
              <a class="input-text">ชื่อผู้ใช้</a>
              <input
                type="text"
                id="username"
                name="username"
                required="required"
              />
            </div>
            <div class="username">
              <a class="input-text">รหัสผ่าน</a>
              <input type="password" id="password" name="password" required />
            </div>
            <div class="username">
              <a class="input-text">ยืนยันรหัสผ่าน</a>
              <input
                type="password"
                id="password_confirm"
                name="password_confirm"
                required
              />
            </div>
            <div class="btn">
              <button class="login-btn" id="send_button" type="submit">
                <a>ลงทะเบียน</a>
              </button>
              <div class="register-btn">
                <a href="/">กลับ</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
