
<div class="head">
  <div class="time"><div style="font-size: 50px" id="count">
    {{count}} 
    <input type="hidden" id="countValue" value="{{count}}" />{{stage}}
    <input type="hidden" id="stageValue" value="{{stage}}" />
  </div><div id="status" style="display: none">{{nowCourse}}
    <input type="hidden" id="statusValue" value="{{nowCourse}}" /></div></div>
</div>
<div class="pic">
  <img id="picPosture" src="" height=100%>
</div>
<script>
  var stage  = document.getElementById("stageValue").value;
          if(stage=="2"){
            document.getElementById("picPosture").src="{{ url_for('static', filename='pic-itm/A1.png') }}"
          }
          else if(stage=="1"){
            document.getElementById("picPosture").src="{{ url_for('static', filename='pic-itm/A2.png') }}"
          }
</script>

