<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>

  <div style="font-size: 50px" id="count">
    {{count}}
    <input type="hidden" id="countValue" value="{{count}}" />
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var intervalId = setInterval(function () {
      load();
    }, 1000);
    function load() {
      $.ajax({
        url: "/exercise",
        type: "GET",
        success: function (response) {
          $("#count").empty();
          $("#count").html(response);
        },
      });
    }
  </script>
</html>
