<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <ul>
          <li>
            <a href="/tutorial">
              <button type="button" class="selectmenu1">วิธีการใช้งาน</button>
            </a>
          </li>
          <li>
            <a href="#home">
              <button type="button" class="selectmenu2">หน้าหลัก</button>
            </a>
          </li>
          <li>
            <a href="#about"
              ><button type="button" class="selectmenu3">
                เกี่ยวกับเว็บ
              </button></a
            >
          </li>
          <li>
            <a href="/profile"
              ><button type="button" class="selectmenu4">
                โปรไฟล์ของฉัน
              </button></a
            >
          </li>
          <li>
            <a href="#contact"
              ><button type="button" class="selectmenu5">ติดต่อเรา</button></a
            >
          </li>
          <div class="pic-menu"></div>
          <li>
            <a href="/logout"
              ><button type="button" class="selectmenu6">ออกจากระบบ</button></a
            >
          </li>
        </ul>
      </div>
      <div class="box">
        <section class="home-section" id="home">
          <div class="circle-pic">
            <div class="circle">
              <a>กดปุ่มด้านล่าง</a>
              <a>เพื่อเริ่มออกกำลังกาย</a>
              <a href="select">
                <button type="button" class="btn">
                  <div class="inside-circle">
                    <div class="triangle"></div>
                  </div>
                  <a>เริ่ม</a>
                </button></a
              >
            </div>
          </div>
        </section>
        <section class="about-section" id="about">
          <div class="about-content-pic">
            <div class="about-content">
                
              </div>
            </div>
        </section>
        <section class="contact-section" id="contact">
          <div class="contact-content">
            <div class="contact-head"><a>ผู้พัฒนาระบบ</a></div>
            <div class="contact-body">
              <div class="contact-block"></div>
              <div class="contact-block"></div>
              <div class="contact-block"></div>
              <div class="contact-block"></div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.css') }}"></script>
  </body>
</html>
