<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="container">
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>

      <div class="video"></div>
      <div class="fill">
        <div class="box">
          <a class="header-text">เข้าสู่ระบบ</a>
          <form action="login" method="post">
            <div class="username">
              <a class="input-text">ชื่อผู้ใช้</a>
              <input type="text" name="username" placeholder="กรอกชื่อผู้ใช้" />
            </div>
            <div class="username">
              <a class="input-text">รหัสผ่าน</a>
              <input
                type="password"
                name="password"
                placeholder="กรอกรหัสผ่าน"
              />
            </div>
            <div class="btn">
              <button class="login-btn" type="submit">เข้าสู่ระบบ</button>
              <div class="register-btn">
                <a href="registerForm">ลงทะเบียน</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    document.getElementById("login").onclick = function () {
      document.getElementById("login").submit();
    };
  </script>
</html>
