<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
  </head>
  <body>
    <div class="profile-container">
      <div class="profile-left">
        <div class="profile-left-block">
          {% for row in user %}
          <a class="profile-name">{{row.4}}</a>
          <a class="profile-des">ชื่อ : {{row.0}} นามสกุล : {{row.1}}</a>
          <a class="profile-des">อายุ : {{row.2}}</a>
          <a class="profile-des">ส่วนสูง : {{row.3}}</a>
          {% endfor %}
          <div class="profile-btn">
            <div class="back">
            <a href="editProfile">แก้ไขข้อมูล</a></div>
            <div class="back">
            <a href="index">กลับ</a></div>
          </div>
        </div>
      </div>
      <div class="profile-right">
        <div class="profile-right-block-pic">
          <div class="profile-right-block">
            <h1>ตารางการออกกำลังกายของสัปดาห์นี้</h1>
            <div style="height: 50vh; width: 50%">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const labels = {{ labels | tojson}};

    const data = {
        labels: labels,
        datasets: [{
            label: 'เวลา(นาที)',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ data | tojson}},
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: { maintainAspectRatio: false }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
  </script>
</html>
