<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="video"></div>
      <div class="fill">
        <div class="box">
          <h1>เข้าสู่ระบบ</h1>
          <form action="register" method="post">
            <div class="username">
              <h2>ชื่อ</h2>
              <input type="text" name="name" />
            </div>
            <div class="username">
              <h2>นามสกุล</h2>
              <input type="text" name="surname" />
            </div>
            <div class="username">
              <h2>อายุ</h2>
              <input type="text" name="age" />
            </div>
            <div class="username">
              <h2>อีเมลผู้ใช้</h2>
              <input type="text" name="email" />
            </div>
            <div class="username">
              <h2>ชื่อผู้ใช้</h2>
              <input type="text" name="username" />
            </div>
            <div class="username">
              <h2>รหัสผ่าน</h2>
              <input type="text" name="password" />
            </div>
            <div class="username">
              <h2>ยืนยันรหัสผ่าน</h2>
              <input type="text" name="confirmPassword" />
            </div>
            <div class="btn">
              <button class="login-btn" type="submit">ลงทะเบียน</button>
              <div class="register-btn">
                <a href="/">กลับ</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
