<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/select.css') }}"
    />
  </head>
  <body>
    <div class="precontainer"><a href="/index" class="back">กลับ</a></div>

    <div class="container">
      <div class="main-box">
        <div class="main-box1">
          <div class="image">
            <a href="preview">
              <button type="button" class="btn">
                <div class="inside-circle">
                  <div class="triangle"></div>
                </div>
                <a>เริ่ม</a>
              </button>
            </a>
          </div>
        </div>
        <div class="main-box2">
          <div class="about-content">
            <div class="about-head"><a>Set A (05:00 นาที)</a></div>
            <div class="about-body">
              <ul>
                <li>ท่าแกว่างแขน</li>
                <li>ท่าแกว่างขา</li>
                <li>ท่าม้วนไหล่</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="select-box">
        <div class="select1">
          <div class="set-img"></div>
          <a>Set A (05:00 นาที)</a>
        </div>
        <div class="select1">
          <div class="set-img"></div>
          <a>Set B (05:00 นาที)</a>
        </div>
        <div class="select1">
          <div class="set-img"></div>
          <a>Set C (05:00 นาที)</a>
        </div>
        <div class="next"></div>
      </div>
    </div>
  </body>
</html>
