<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fitfaiz</title>
  <link href="https://cdn.discordapp.com/attachments/850266840798330912/856444041247326208/Untitled-1.png" rel="icon" type="image/x-icon">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='them_ct.css') }}">
</head>

<body
  style="	background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="{{url_for('index')}}">
        <img src="https://cdn.discordapp.com/attachments/850266840798330912/856444041247326208/Untitled-1.png" width="50 px" height="50 px">
        <b></b><b id="Name project">FITFAIZ</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
        data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="{{url_for('index')}}">HOME</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{url_for('CT')}}">ABOUT</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5"
    style="background-position: right bottom; background-size: cover; background-repeat: repeat; background-attachment: fixed; background-image: url(&quot;https://wallpaperaccess.com/full/2682107.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8 text-center">
          <h1 class="text-light bg-primary">TEAM PROJECT</h1>
          <p class="mb-4 text-center text-uppercase lead break bg-info text-body">Project FITFAIZ ZES camp XIII</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6 p-3">
          <div class="card"> <img class="card-img-top"
              src="https://pbs.twimg.com/media/E4K-dpBUcAUnk_q?format=jpg&amp;name=small" alt="Card image cap">
            <div class="card-body bg-primary">
              <h5 class="card-title"> <b>Bon</b></h5>
              <p class="card-text">CODE AI</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-3">
          <div class="card"> <img class="card-img-top"
              src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.6435-9/53188100_1160353200801077_918009595497021440_n.jpg?_nc_cat=103&amp;ccb=1-3&amp;_nc_sid=09cbfe&amp;_nc_ohc=B2gmrUji2WQAX-WU6-m&amp;tn=qwprd717beJFrdvG&amp;_nc_ht=scontent.fbkk10-1.fna&amp;oh=8f99f54f455683691c43c4bcb1c26d20&amp;oe=60D2685E"
              alt="Card image cap">
            <div class="card-body bg-primary">
              <h5 class="card-title"> <b>Boss</b></h5>
              <p class="card-text">Website Design</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-3">
          <div class="card"> <img class="card-img-top"
              src="https://pbs.twimg.com/media/E4K_0RmVgAYlMf0?format=jpg&amp;name=medium" alt="Card image cap">
            <div class="card-body bg-primary">
              <h5 class="card-title"> <b>Arbid</b></h5>
              <p class="card-text">Website Design</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-3">
          <div class="card"> <img class="card-img-top"
              src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.6435-9/78991897_1340650532771632_3708329618688704512_n.jpg?_nc_cat=106&amp;ccb=1-3&amp;_nc_sid=174925&amp;_nc_ohc=3sk4lFKKGz0AX-7Mr0F&amp;tn=qwprd717beJFrdvG&amp;_nc_ht=scontent.fbkk14-1.fna&amp;oh=576753a4e9a4086d51694c1a181eedcb&amp;oe=60D1B836"
              alt="Card image cap">
            <div class="card-body bg-primary">
              <h5 class="card-title"> <b>Tam</b></h5>
              <p class="card-text">CODE AI</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>