.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 150px;
  height: 60px;
  background-color: #c629ff;
  border-radius: 15px;
}
.btn a {
  font-size: 24px;
  color: #ffffff;
}
.video {
  margin-top: 30px;
  width: 1200px;
  height: 600px;
  background-color: black;
}
