.container{
    display: flex;
    flex-direction: row;
}
.pic-menu{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 250px;
    margin-left: -25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar{
    position: fixed;
    width: 300px;
    height: 745px;
    left: 0px;
    top: 0px;
    background: #ffffff;
}
.selectmenu1{
    width: 250px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    font-size: 32px;
    margin-top: 10px;
    text-align: left;
}
.selectmenu2{
    width: 250px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    font-size: 32px;
    margin-top: 10px;
    text-align: left;
}
.selectmenu3{
    width: 250px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    font-size: 32px;
    margin-top: 10px;
    text-align: left;
}
.selectmenu4{
    width: 250px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    font-size: 32px;
    margin-top: 10px;
    text-align: left;
}
.selectmenu5{
    width: 250px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    font-size: 32px;
    margin-top: 10px;
    text-align: left;
}
.selectmenu6{
    width: 250px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    outline: none;
    border-radius: 15px;
    font-size: 32px;
    margin-top: 10px;
    text-align: left;
}
.navbar ul{
    margin-left: -15px;
    list-style-type: none;
}
.box{
    position: absolute;
    margin-left: 300px;
    width: 1219px;
    height: 745px;
    left: 0px;
    top: 0px;

    background: #ffffff;
}
#home{
    position: absolute;
    top: 0;
    height: 745px;
    width: 1219px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contact{
    position: absolute;
    height: 745px;
    width: 1219px;
}
#about{
    margin-top: 745px;
    height: 745px;
    width: 1219px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.circle{
    width: 600px;
    height: 600px;
    border-radius: 100%;
    background: #D4F2F2;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.btn{
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FF2969;
    outline: none;
    border-radius: 15px;
    font-size: 32px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.circle a{
    font-size: 50px;
    line-height: 70px;
}
.inside-circle{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: black;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.triangle {
    transform: rotate(270deg);
	border-top: 50px solid rgb(255, 255, 255);
	border-right: 25px solid transparent; /* ซ่อนขอบขวา */
	border-left: 25px solid transparent; /* ซ่อนขอบซ้าย */
    border-radius: 9px;
}
.about-content{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-head a{
    font-size: 40px;
}
.about-body a{
    font-size: 26px;
    line-height: 40px;
}
.next{
    width: 600px;
    height: 70px;
    margin-top: 100px;
    border: 1px solid #000000;
    border-radius: 15px;
}