<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <ul>
          <li>
            <a href="/tutorial">
              <button type="button" class="selectmenu1">วิธีการใช้งาน</button>
            </a>
          </li>
          <li>
            <a href="#home">
              <button type="button" class="selectmenu2">หน้าหลัก</button>
            </a>
          </li>
          <li>
            <a href="#about"
              ><button type="button" class="selectmenu3">
                เกี่ยวกับเว็บ
              </button></a
            >
          </li>
          <li>
            <a href="/profile"
              ><button type="button" class="selectmenu4">
                โปรไฟล์ของฉัน
              </button></a
            >
          </li>
          <li>
            <a href="#contact"
              ><button type="button" class="selectmenu5">ติดต่อเรา</button></a
            >
          </li>
          <div class="pic-menu"></div>
          <li>
            <a href="/logout"
              ><button type="button" class="selectmenu6">ออกจากระบบ</button></a
            >
          </li>
        </ul>
      </div>
      <div class="box">
        <section class="home-section" id="home">
          <div class="circle">
            <a>กดปุ่มด้านล่าง</a>
            <a>เพื่อเริ่มออกกำลังกาย</a>
            <a href="select">
              <button type="button" class="btn">
                <div class="inside-circle">
                  <div class="triangle"></div>
                </div>
                <a>เริ่ม</a>
              </button></a
            >
          </div>
        </section>
        <section class="about-section" id="about">
          <div class="about-content">
            <div class="about-head"><a>เกี่ยวกับเว็บของเรา</a></div>
            <div class="about-body">
              <a
                ><br />วัยผู้สูงอายุ
                เป็นวัยที่ระบบต่างๆเสื่อมสภาพทำให้ไม่สามารถเคลื่อนไหวหรือออกกำลังกายได้
                เหมือนกับวัยอื่นๆแต่ในขณะเดียวกันผู้สูงอายุก็ควรที่จะทำกายบริหารหรือออกกำลังอย่างสม่ำเสมอเพื่อช่วยให้
                การทำงานของอวัยวะต่างๆนั้นประสานงานกันได้ดีสุขภาพร่างกายแข็งแรง
                และลดความเสี่ยงต่อการเกิดโรค ต่างๆ
                จากข้อมูลของสำนักอนามัยผู้สูงอายุแห่งประเทศไทยระบุว่าในปีพ.ศ.
                2564 ประเทศไทยได้เข้าสู่ " สังคมสูงอายุอย่างสมบูรณ์"
                โดยมีผู้สูงอายุมากกว่า ร้อยละ 20 ของประชากรมวลรวม
              </a>
              <a
                ><br />ผู้จัดทำเล็งเห็นถึงความสำคัญในการทำกายบริหารของผู้สูงอายุที่กำลังเพิ่มมากขึ้นในประเทศไทย
                ที่จำเป็นจะต้องมีความถูกต้องและเหมาะสม
                ซึ่งโดยทั่วไปนั้นอาจจะต้องพึ่งพาผู้เชี่ยวชาญในการช่วยดูแล
                ดังนั้น
                จึงได้จัดทำเว็บแอพพลิเคชั่นพร้อมระบบอัจฉริยะที่สามารถช่วยให้ผู้สูงอายุสามารถทำกายบริหารได้อย่าง
                ถูกต้องด้วยตนเองโดยไม่จำเป็นต้องอาศัยผู้เชี่ยวชาญช่วยดูแล
              </a>
            </div>
            <div class="next"></div>
          </div>
        </section>
        <section class="contact-section" id="contact">
          <div>
            <h1>contact</h1>
            <p>k;cdndfjar'fiphrjippiHFipJDISJ</p>
          </div>
        </section>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.css') }}"></script>
  </body>
</html>
