<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/preview.css') }}"
    />
  </head>
  <body>
    <div class="precontainer">
      <button type="button" id="back" class="back">กลับ</button>
    </div>

    <div class="container">
      <div class="main-box1">
        <div class="image"></div>
      </div>
      <div class="main-box2">
        <div class="about-content">
          {% for row in courseSelected %}
          <input type="hidden" id="nameCourse" value="{{row.0}}" />
          <div class="about-head"><a>Set {{row.0}} (05:00 นาที)</a></div>
          {% endfor %}
          <div class="about-body">
            <ul>
              {% for row in courseNameSelected %}
              <li>{{row.0}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="next"></div>
        <button type="button" id="start" class="btn">
          <div class="inside-circle">
            <div class="triangle"></div>
          </div>
          <a>เริ่ม</a>
        </button>
      </div>
    </div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
    $("#back").click(function () {
      window.location = "/select";
    });
    $("#start").click(function () {
      var data = document.getElementById("nameCourse").value;
      window.location = "/playtask1/" + data;
    });
  </script>
</html>
